.gallery__media {
  display: grid;
  grid-template-columns: 280px 290px 280px 280px;
  grid-template-rows: repeat(2, 250px);

  gap: 10px;
}
.img1 {
  grid-column-start: 1;
  grid-column-end: 3;
  transition: 0.7s all ease;
}
.img4 {
  grid-column-start: 1;
  grid-column-end: 1;
}
.img5 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.img {
  cursor: pointer;
  transition: 0.7s all ease;
  position: relative;
}
.img:hover {
  transition: 0.7s all ease;
  .image-zoom {
    display: flex;
  }
}
.image-zoom {
  display: none;
  transition: 0.7s all ease;
}
